{% extends "base.html" %}


{% block title %}Pokepy Register{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">{% endblock %}
{% block content %}
    <div class="login-card">
        <div class="login-header">
            <p>Developed by @matdomis</p>
            <img src="{{ url_for('static', filename='img/gif-pokeball.gif') }}" alt="Header Image">
            <h1>Sign Up</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        </div>
       
        <hr>
       
        <div class="login-body">

            <form method="POST" id="loginForm" action="{{ url_for('signup') }}">
              
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter your username" class='login-input' required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password" class='login-input' required>
                <label for="confirm-password">Confirm your password</label>
                <input type="password" name="confirm-password" placeholder="Re-enter your password" class='login-input'
                    required>

                <input type="hidden" name="gender" id="gender" value="">

                <p>Choose your trainer:</p>
                <div class="gender-selection">
                    <label for="female-avatar">
                        <img src="{{ url_for('static', filename='img/poke-avatar-girl.gif') }}" alt="Girl Avatar"
                            id="female-avatar" tabindex="0">
                        <p>Girl</p>

                    </label>

                    <label for="male-avatar">
                        <img src="{{ url_for('static', filename='img/poke-avatar-men.gif') }}" alt="Men Avatar"
                            id="male-avatar" tabindex="0">
                        <p>Boy</p>
                    </label>
                </div>

            </form>

            <div class="signup-footer">
                <a href="{{ url_for('login') }}">Back</a>
                <button type="submit" form="loginForm">Create!</button>

            </div>

            <div>
                <p style="color: black; font-size: 12px;">{{ users_counter }} users already registred in the database.</p>
            </div>
        
        </div>
    </div>
{% endblock %}